.pokelist__poke-section{
  color: #fff;
  padding: 100px 50px;
  height: 100%;
}

.pokelist__poke-form {
  position: relative;
}


.form-container {
  margin: 100px auto;
  width: 1000px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 10px;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-inputs {
  margin-bottom: 0.5rem;
  width: 80%;
}

.form-label {
  display: inline-block;
  font-size: 0.8rem;
  margin-bottom: 7px;
  color: #fff;
}

.form-input {
  display: block;
  padding-left: 10px;
  padding-top: 4px;
  outline: none;
  border-radius: 2px;
  height: 50px;
  width: 100%;
  border: 1px solid #e6e6e6;
  border-right-width: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #1c2237;
  color: #e2e2e2;
  min-width: 8em;
  
}

.form-input::placeholder {
  color: #595959;
  font-size: 12px;
}

.form-input-btn {
  margin-top: 10px;
  color: #fff;
  font-size: 20px;
  background-color: rgba(0,116,236,.929412);
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 13px 26px;
    width: 7em;
}

.form-input-btn:hover {
  cursor: pointer;
  background-color: #f00e0e;
  transition: all 0.3s ease-out;
}

